*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
/* contenitore principale */
.container{
    height: 100vh;
    width: 100%;
    position: relative;
}
/* contenitore per la centratura */
.box{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
/* seconde classi che seguono le regole container */
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
/* regole principali h1  */
.title{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    color: #ffff00;
}
/* richiamo h1 contenitore yellow  */
.color{
    color: green;
}
/* lavoro sulla nav  */
nav{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}   

nav li{
    display: inline-block;
}

nav li a{ 
    width: 50px;
    height:50px;
    padding: 15px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    margin-right: 10px;
}

